<html>
  <body>
    <form method="GET" type="submit" action="/run/{{filename}}">
      <table>
        <tr>
          <th>Column</th>
          <th>Predictor</th>
          <th>Target</th>
        </tr>
        {% for c in columns %}
        <tr>
          <th>{{ c }}</th>
          <th><input type="checkbox" name="pred_{{c}}" id="pred_{{c}}" checked></th>
          <th><input type="checkbox" name="targ_{{c}}" id="targ_{{c}}"></th>
        </tr>
        {% endfor %}
      </table>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
